.header {
  height: 50px;
  display: flex;
  flex-direction: row;
justify-content: space-between;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 100;
background-color: white;
border-bottom-width: 1px ;
border-bottom-style: solid;
border-bottom-color: rgb(229, 228, 228);


}

.leftsection {
  display: flex;
  align-items: center;
}

.hamburgermenu {
height: 18px;
margin-left: 12px;
margin-right: 12px;
}

.youtubelogo {
height: 18px;
}

.middlesection {
  flex: 1;
  margin-left: 20px;
  margin-right: 10px;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.searchbar {
  flex: 1;
  height: 24px;
  padding-left: 5px;
  box-shadow: inset 2px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rbg(192, 192, 192);
  width: 0;
}

.searchbar::placeholder {
  font-family: Roboto, arial;
  font-size: 15px;
}

.searchbutton {
  height: 24px;
  width: 37px;
  background-color: rgb(243, 240, 238);
  border-width: 1px;
  border-style: solid;
  border-color: rbg(192, 192, 192);
  margin-left: -1px;
  margin-right: 4px;

}

.searchbutton,
.voicesearchbutton,
.uploadiconcontainer {
  position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.searchbutton .tooltip,
.voicesearchbutton .tooltip,
.uploadiconcontainer .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 3px 5.9px 3px 5.9px;
  border-radius: 3px;
  font-size: 10px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  font-family: roboto, arial;
}

.searchbutton:hover .tooltip,
.voicesearchbutton:hover .tooltip,
.uploadiconcontainer:hover .tooltip {
  opacity: 1;
}

.searchicon {
  height: 15px;
}

.voicesearchbutton {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: none;
  background-color: rgb(241, 233, 233);

}

.voicesearchicon {
  height: 15px;
}

.rightsection {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0px;
  flex-shrink: 0;

}

.uploadicon {
  height: 14px;
}

.youtubeappsicon {
  height: 14px;
}

.notificationsicon {
  height: 14px;
}

.notificationsiconcontainer {
  position: relative;
}

.notificationscount {
  position: absolute;
  top: -1px;
  right: -3px;
  background-color: rgb(201, 0, 1);
  color: white;
  font-family: roboto, arial;
  font-size: 7px;
  padding: 1px 1px 1px 1px;
  border-radius: 5.9px;
}

.currentuserpic {
  height: 28px;
  border-radius: 14px;
}
